/* nav components */

.nav-item {
    font-size: 20px;
}

.ml-auto .dropdown-menu {
    /* move login and dropdown menu to right side of navbar */
    left: auto !important;
    right: 0px;
}

.nav-item:hover {
    background-color: #0010a0e7;
    border-radius: 5px;
}

.navbar {
    background-color: #0032a0;
}

.navbar.navbar-expand-sm li a {
    color: white;
}

#loginDropdown.nav-link,
#logout.nav-link {
    color: white;
    cursor: pointer;
}

.uName:hover {
    background-color: #0032a0;
    cursor: default;
}

/* global css */

.container {
    /* for container divs on every page */
    padding: 10px;
    margin-bottom: 30px;
    min-height: 100%;
    min-width: 99%;
    margin: 5px;
}

.title {
    padding: 9px 15px 9px 15px;
    background-color: #2b2b2b;
    color: white;
}

html,
body {
    height: 100%;
}

footer {
    background-color: #2b2b2b;
    color: white;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.form-control.text {
    width: 500px;
}

.browser-default.custom-select {
    width: 300px;
}


/* RegisterBike.php css */

#bikeReg {
    position: center;
    padding: 20px;
    margin-bottom: 30px;
}

#genderSelect {
    width: 500px;
}

#dText {
    color: black;
}

#mapInput,
#map {
    width: auto;
    height: 450px;
    border-radius: 5px;
    border: 2px solid;
    border-color: black;
}

#ebay {
    border-color: black;
}