
.background{
  position: fixed;
}
/*The style for the blocked black navigation bar*/
ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #171f8a;

  width: 100%;

}

/*The style for the spaceing between the different button on the bars*/
ul.navigation li {float: left;
   border-right: 1px solid white;
}



/*Aligning the text and its style in the bar */
ul.navigation li a {
  display: block;
  color: white;
  text-align: center;
  font-family: verdana;
  font-size: 17px;
  padding: 14px 20px;
  text-decoration: none;
}

/*style for the cursor when the user moves over the navbar */
ul.navigation li a:hover:not(.active) {background-color: #000652;}

ul.navigation li a.active {background-color: white;}

ul.navigation li.right {float: left;}

/*When the screen is smaller so is the content*/
@media screen and (max-width: 600px) {
  ul.navigation li.right, 
  ul.navigation li {float: none;}
}

body {
  margin: 0px;
}

h1 {
  text-align: center;
  font-family: fantasy;
  font-size: 40px;
}

footer{
  list-style-type: none;
  
  padding: 0;
  overflow: hidden;
  background-color: black;
  
  width: 100%;
  color: white;
  text-align: center;
  font-family: fantasy;

 position: absolute;
 bottom: 0;

 position: fixed;
}





